.mpdesign{
    
    padding: 100px;
    border: red solid ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
label, input {
    display: block;
}

label {
    margin-bottom: 20px;
}